#peopleList .avatar{
	width: 100%;
}
.no-padding{
	padding: 0;
}
span.multiselect-native-select{
	display: inline-block;
}
@media only screen and (min-width : 480px) {
	.multiselect-container>li>a>label{
		padding: 3px 20px 3px 40px;
	}
}
@media only screen and (min-width : 768px) {
	.multiselect-container>li>a>label{
		padding: 3px 20px 3px 10px;
	}
}